 body {
  background: #00a69c;
 }

  body * {
  box-sizing: border-box;
 }

.main_section > .container {
    background: #fff;
    border-radius: 5px;
    padding: 0;
    overflow: hidden;
  /*  width: 970px;*/
    margin-top: 13vh;
    -webkit-box-shadow: 0px 0px 37px 8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 37px 8px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 37px 8px rgba(0,0,0,0.3);
}

/*========= Minimize Window Restore Close Section BEGIN
========================================================*/
.minimize-restore-colse.col-xs-12 {
    background: #f1f1f2;
    padding: 18px;
}

.fa.fa-window-minimize {
    background: #f2554e;
    color: #f2554e;
    font-size: 4px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
}

.fa.fa-window-maximize {
    background: #e7a747;
    color: #e7a747;
    font-size: 4px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
}

.fa.fa-times {
    background: #32b34b;
    color: #32b34b;
    font-size: 4px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
}
/*========= Minimize Window Restore Close Section END
========================================================*/


/*=========== Search Row BEGIN
=====================================*/

.comment-users-chat {
    padding: 0;
    text-align: center;
    background: #e6e7e8;
}

.comment-users-chat>ul>li {
    float: left;
    width: 33.3333333%;
}

.comment-users-chat>li>a:hover, .comment-users-chat>li>a:focus {
    text-decoration: none;
    background-color: #00a69c;
}

.comment-users-chat .nav>li>a:hover, .comment-users-chat .nav>li>a:focus {
    text-decoration: none;
    background-color: #00a69c;
}
.comment-users-chat .open>a, .comment-users-chat .open>a:hover, .comment-users-chat .open>a:focus {
    background-color: #00a69c;
}

.comment-users-chat .fa {
    color: #949596;
}

.comment-users-chat>li>a:hover .fa, .comment-users-chat>li>a:focus .fa {
    color: #ffffff;
}

.comment-users-chat .nav>li>a:hover .fa, .comment-users-chat .nav>li>a:focus .fa {
    color: #ffffff;
}
.comment-users-chat .open>a .fa, .comment-users-chat .open>a:hover .fa, .comment-users-chat .open>a:focus .fa {
    color: #ffffff;
}
/*========== Search Row End
====================================*/

/*========== Member List Begin
====================================*/
.member_list .chat-body {
  margin-left: 47px;
  margin-top: 0;
}
.top_nav {
  overflow: visible;
}
.member_list .contact_sec {
  margin-top: 3px;
}
.member_list li {
  padding: 6px;
}
.member_list ul {
  border: 1px solid #dddddd;
}
.chat-img img {
  height: 34px;
  width: 34px;
}
.member_list li {
  border-bottom: 1px solid #dddddd;
  padding: 6px;
}
.member_list li:last-child {
  border-bottom:none;
}
.member_list {
  height: 340px;
  overflow-x: hidden;
  overflow-y: auto;
  clear: both;
}
.member_list li:hover {
  background: #f7f7f7 none repeat scroll 0 0;
  color: #636363;
  cursor: pointer;
}

.member_list li {
  color: #636363;
}

.member_list li:hover strong.primary-font {
  color: #00a69c;
}

.contact_sec .badge {
  background: #ff362b;
  border-radius: 2px;
}

/*========== Member List End
====================================*/


/*========== Message Head Begin
====================================*/
.message_section {
  border: 1px solid #dddddd;
}

.new_message_head button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.new_message_head {
  background: #fff none repeat scroll 0 0;
  float: left;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 10px 11px 10px;
  width: 100%;
}

.new_message_head .fa.fa-cog {
    color: #949596;
    font-size: 20px;
    line-height: 30px;
}

.new_message_head .caret {
    border-top: 4px solid #949596;
    margin-bottom: 5px;
}

/*========== Message Head End
====================================*/

/*========== Chat Area Begin
====================================*/

.chat_area {
  float: left;
  height: 314px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  background: #f1f1f2;
}
.chat_area li {
  padding: 25px 14px 0;
}
.chat_area li .chat-img1 img {
  height: 40px;
  width: 40px;
  background: #f1f1f2;
}
.chat_area .chat-body1 {
  margin-right: 100px;
}

.chat_area .chat-body2 {
  margin-left: 100px;
}

.chat-body1 p {
  background: #ffffff none repeat scroll 0 0;
  padding: 10px;
  position: relative;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}
.chat-body1 p:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
  position: absolute;
  top: -15px;
  left: 0;
}

.chat-body2 p {
  background: #00a69c none repeat scroll 0 0;
  padding: 10px;
  position: relative;
  color:#ffffff;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}

.chat-body2 p:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 7px;
  right: -16px;
  border-top: 0px solid transparent;
  border-left: 16px solid #00a69c;
  border-bottom: 13px solid transparent;
}
.chat_area .admin_chat .chat-body1 {
  margin-left: 0;
  margin-right: 50px;
}
.chat_area li:last-child {
  padding-bottom: 10px;
}

/*========== Chat Area End
====================================*/


/*========== Message Write Begin
====================================*/

.message_write {
  background: #e6e7e8 none repeat scroll 0 0;
  float: left;
  padding: 15px;
  width: 100%;
}

.message_write input.form-control {
    height: 35px;
    padding: 10px;
    width: 87%;
    margin: 0 10px;
}

@media  screen and (max-width: 1199px) {
  .message_write input.form-control {
    width: 84%;
  }
}

@media  screen and (max-width: 991px) {
  .message_write input.form-control {
    width: 79%;
  }
}
.chat_bottom {
  float: left;
  margin-top: 13px;
  width: 100%;
}
.upload_btn {
  color: #777777;
}
.fa.fa-paperclip {
  font-size: 20px;
  line-height: 35px;
  -webkit-transform: rotate(-138deg);
  -moz-transform: rotate(-138deg);
  -ms-transform: rotate(-138deg);
  -o-transform: rotate(-138deg);
}
.send_btn {
    background: #00a69c;
    color: #fff;
}
.sub_menu_ > li a, .sub_menu_ > li {
  float: left;
  width:100%;
}

/*========== Message Write End
====================================*/
